Package: libkiclient
Version: VERSION
Maintainer: Erik Öhrn <erik.ohrn@gmail.com>
Description: The client for Libki kiosk management system.
Homepage: https://libki.org
Architecture: ARCH
Depends: libqt5webkit5, libqt5script5
